
.Menu {
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center; 
    font-size: 16px - 18px;
    font-weight: 600;
    
}
.Menu ul{
    list-style: none;

}
.Menu a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
}
.menu ul{
    display:flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.logo img{
    width: 150px;
    height: 150px;
    background: linear-gradient(
180deg,
#1a0a0a,
#5c1111,
#ff6a00
);
}

.menu-toggle{
    display:none;
    font-size:30px;
    cursor:pointer;
}

@media (max-width:1100px){


    #menu {
        display: none;
        flex-direction:column;
    }

    #menu.active{
        display:flex;
    }

    .menu-toggle{
        display:block;
    }
}