

.box{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:80px;
    background-color: black;

}


.b{
    width: 200px;
    height: 50px;
    margin: 0;
    padding: 0;
    text-align:center;
    font-size: 50px;
    gap: 20px;
}

.b1{
    background-color: aqua;
}

.b2{
    display:flex;
    background-color: brown;
    justify-content:space-evenly;
    gap: 20px;
    height: 80px;
    width:60%;
    font-size: 35px;
    align-items: center;
}

.b3{
    background-color: yellow;
}
.m{
    height:50px;
}
.m1{
        background-color: green;
}
.m2{
        background-color: red;
}
.m3{
        background-color: green;
}
.m4{
        background-color: red;
}
.m5{
        background-color: green;
}

